<div>
	


	<form #formularioregistro="ngForm" (ngSubmit)="sendData(formularioregistro)">
		
		<span>Crear Nueva Cuenta</span>
		<br>
		<label>Email  </label><br>
		<input type="text" name="email" id="email" [(ngModel)]="user.email">
		<br>
		<label>Nombre  </label><br>
		<input type="text" name="nombre" id="nombre" [(ngModel)]="user.nombre">
		<br>
		<label>Contraseña  </label><br>
		<input type="text" name="password" id="password" [(ngModel)]="user.password">
		<br>
		<a routerLink="/login">Ya tengo cuenta</a>
		<br>
		<button type="submit">Crear Cuenta</button>








	</form>





</div>